# pdf document path
SAMPLE_DATA_PATH = "./sampledata/"

# ollama
EMBEDDING_MODEL = "mxbai-embed-large:335m"
CHAT_MODEL = "llama3.2:3b"
MODEL_PROVIDER = "ollama"

# chroma
DATABASE_PATH = "chroma_db"
COLLECTION_NAME = "rag_data"
